@import "./../constants/index.scss";

.terms {
  padding: 180px 0 160px 0;

  @media (max-width: 991px) {
    padding: 140px 0 120px 0;
  }

  @media (max-width: 767px) {
    padding: 50px 0 50px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1299px) {
      justify-content: center;
      padding-left: 50px;
    }

    @media (max-width: 991px) {
      justify-content: center;
      padding-left: 0;
    }

    @media (max-width: 767px) {
      justify-content: flex-start;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 354px;
    width: 100%;
    margin-right: 50px;
    margin-bottom: 60px;

    @media (max-width: 991px) {
      max-width: 300px;
    }

    @media (max-width: 767px) {
      margin-right: 0 !important;
      max-width: 100%;
    }

    &:nth-child(3) {
      margin-right: 0;
      @media (max-width: 1299px) {
        margin-right: 50px;
      }
    }

    &:nth-child(6) {
      margin-right: 0;
    }

    &:last-child {
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 1299px) {
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  &__img-wrapper {
    max-width: 70px;
    width: 100%;
    margin-bottom: 50px;
    img {
      object-fit: contain;
      max-width: 100%;
      display: block;
      height: auto;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;

    @media (max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  &__description {
    max-width: 360px;
    width: 100%;
    font-size: 18px;
    color: $zambezi;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}
